
<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <%# 人生を変えるフリマアプリ %>
      <%= link_to image_tag("logo-2.png", class:"top-logo"), "#" %>
    </h2>
    <p class='service-explain'>
      MANECARIはだれでもかんたんに出品・購入できる
    </p>
    <p class='service-explain'>
      フリマアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>



	 <% breadcrumb :contacts %> 

<!-- form -->
<form action="" class="form-wrapper">
  <ul class="form-list">
    <li class="form-item">
      <label for="" class="form-label">お問い合わせ内容</label>
      <ul class="checkbox-list">
        <li class="checkbox-item">
          <input type="checkbox" class="checkbox" id="document">
          <label for="document">資料請求</label>
        </li>
        <li class="checkbox-item">
          <input type="checkbox" class="checkbox" id="phone">
          <label for="phone">お電話でのご相談を希望</label>
        </li>
        <li class="checkbox-item">
          <input type="checkbox" class="checkbox" id="application">
          <label for="application">申し込み</label>
        </li>
      </ul>
    </li>
    <li class="form-item">
      <label for="" class="form-label">担当者名</label>
      <input type="text" class="input-text">
    </li>

    <li class="form-item">
      <label for="" class="form-label">電話番号</label>
      <input type="text" class="input-text">
    </li>

    <li class="form-item">
      <label for="" class="form-label">メールアドレス</label>
      <input type="text" class="input-text">
    </li>

    <li class="form-item">
      <label for="" class="form-label">その他</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </li>
  </ul>
 <input type="submit" class="submit-btn" value="送信する">

</form>
<!-- //form -->

<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>